#services {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicesTitle {
  margin-bottom: 60px;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}
