.contactItem {
  box-shadow: 0px 10px 20px 4px #00000015;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactItemImage {
  margin-bottom: 30px;
  border: 1px solid #a97afd;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactItemImage img {
  height: 20px;
}

.contactItemTitle {
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
}

.contactItemValue {
  color: #000;
}

@media screen and (min-width: 768px) {
  .contactItem {
    width: 30%;
    margin-right: 5%;
  }

  .contactItem:nth-of-type(3n) {
    margin-right: 0;
  }
}
