.skillsProgress {
  margin-bottom: 15px;
}

.skillsProgressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.skillsProgressHeader div:first-of-type {
  font-weight: 600;
  font-size: 15px;
}

.skillsProgressHeader div:last-of-type {
  font-weight: normal;
}

.skillsProgressContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 7px;
  border-radius: 10px;
}

.skillsProgressPercent {
  background-color: #a97afd;
  position: absolute;
  left: 0;
  top: 0;
  height: 7px;
  border-radius: 10px;
}
