.serviceItem {
  box-shadow: 0px 10px 20px 4px #00000015;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.serviceItem.dark {
  box-shadow: -1rem 0 3rem #000;
  background-color: #202026;
  color: #fff;
}

.serviceItem img {
  margin: 16px 0 20px;
  height: 29.6px;
}

.serviceItem div:first-of-type {
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 34px;
  font-weight: bold;
}

.serviceItem div:last-of-type {
  margin-bottom: 1rem;
}
