#skills {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
}

#skillsTechnical {
  padding: 0 15px;
  margin-bottom: 50px;
  text-align: center;
}

#skillsTechnicalTitle,
#skillsProfessionalTitle {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
}

#skillsProfessional {
  text-align: center;
}

#skillsProfessionalTitle {
  margin: 30px 0;
}

#skillsProfessionalProgresses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  #skills {
    flex-direction: row;
  }

  #skillsTechnical,
  #skillsProfessional {
    width: 50%;
  }

  #skillsProfessionalTitle {
    margin-top: 0;
  }
}
