#about {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > img {
  width: 100%;
}

#aboutContent {
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about.dark #aboutContentTitle,
#about.dark #aboutContentText,
#about.dark #aboutContentSkills div {
  color: #fff;
}

#aboutContentTitle {
  margin: 20px 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

#aboutContentText {
  margin-bottom: 30px;
  text-align: center;
}

#aboutContentText a {
  color: blue;
}

#aboutContentSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

#aboutContentSkills div {
  border: 1px solid #a97afd;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0px 6px 10px;
}

#aboutContentCV {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #a97afd;
  color: #fff;
  padding: 8px 30px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

#aboutContentCV .anticon {
  margin-left: 10px;
  font-size: 14.86px;
}

@media screen and (min-width: 768px) {
  #about {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  #about > img,
  #aboutContent {
    width: 45%;
  }

  #aboutContent {
    margin: 0;
  }

  #aboutContent,
  #aboutContentTitle {
    margin-top: 0;
  }
}
