#home {
  background-image: url("../../images/home-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home.dark #homeOverlay {
  background-color: rgba(0, 0, 0, 0.85);
}

#homeOverlay {
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

#home.dark #homeImageOuterLayer {
  border: 20px solid rgba(0, 0, 0, 0.9);
}

#homeImageOuterLayer {
  border: 20px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin: 30px 0;
}

#home.dark #homeImageOuterLayer img {
  border: 20px solid rgba(0, 0, 0, 0.4);
}

#homeImageOuterLayer img {
  border: 20px solid rgba(0, 0, 0, 0.17);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#homeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#homeInfoHello {
  background-color: #a97afd;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px 20px 20px 0px;
  margin-bottom: 20px;
}

#home.dark #homeInfoName,
#home.dark #homeInfoRole,
#home.dark .homeInfoContactOption a {
  color: #fff;
}

#homeInfoName {
  font-size: 42px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 10px;
}

#homeInfoRole {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.homeInfoContactOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.homeInfoContactOption .anticon {
  font-size: 14px;
  margin-right: 15px;
}

.homeInfoContactOption a {
  color: #000;
}

@media screen and (min-width: 420px) {
  #homeOverlay {
    padding: 30px 15px;
  }

  #homeImageOuterLayer {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 575px) {
  #homeOverlay {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #homeImageOuterLayer {
    width: calc((100vw - 15px) / 2 - 5vw);
    height: calc((100vw - 15px) / 2 - 5vw);
    max-width: calc((960px - 15px) / 2 - 0.05 * 960px);
    max-height: calc((960px - 15px) / 2 - 0.05 * 960px);
  }

  #homeInfo {
    align-items: flex-start;
    width: calc((100vw - 15px) / 2 - 5vw);
    max-width: calc((960px - 15px) / 2 - 0.05 * 960px);
    margin-top: 0;
  }
}
