#contact {
  padding: 30px 15px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact.dark #contactTitle,
#contact.dark .contactItemTitle,
#contact.dark .contactItemValue {
  color: #fff;
}

#contact.dark .contactItem {
  box-shadow: -1rem 0 3rem #000;
  background-color: #202026;
}

#contactTitle {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

#contactContent {
  width: 100%;
  background-image: url("../../images/map-color-overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  #contactContent {
    display: flex;
    flex-wrap: wrap;
  }
}
