#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background 0.4s;
  z-index: 1;
}

#header.active {
  background-color: #202026;
}

#headerContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  max-width: 960px;
  margin: 0 auto;
}

#headerHamburger {
  width: 32px;
  padding: 5px;
}

.headerOption {
  margin: 0 20px;
}

.headerOption div {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.headerOption.active div {
  border-color: #fff;
}
