#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background 0.4s;
  z-index: 2;
}

#header.active {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#header.dark.active {
  background-color: #202026;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#headerContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  max-width: 960px;
  margin: 0 auto;
}

#headerMoon {
  margin-right: auto;
  font-size: 20px;
  margin-left: 10px;
}

#headerHamburger {
  font-size: 24px;
}

.headerOption {
  margin: 0 20px;
}

#header.dark .headerOption div {
  color: #fff;
}

.headerOption div {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

#header.dark .headerOption.active div {
  border-color: #fff;
}

.headerOption.active div {
  border-color: #000;
}
